@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.responsive .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media only screen and (min-width: 0px) {
  .responsive .row .col-xs-0 {
    grid-column-end: span 0;
  }
  .responsive .row .col-xs-1 {
    grid-column-end: span 1;
  }
  .responsive .row .col-xs-2 {
    grid-column-end: span 2;
  }
  .responsive .row .col-xs-3 {
    grid-column-end: span 3;
  }
  .responsive .row .col-xs-4 {
    grid-column-end: span 4;
  }
  .responsive .row .col-xs-5 {
    grid-column-end: span 5;
  }
  .responsive .row .col-xs-6 {
    grid-column-end: span 6;
  }
  .responsive .row .col-xs-7 {
    grid-column-end: span 7;
  }
  .responsive .row .col-xs-8 {
    grid-column-end: span 8;
  }
  .responsive .row .col-xs-9 {
    grid-column-end: span 9;
  }
  .responsive .row .col-xs-10 {
    grid-column-end: span 10;
  }
  .responsive .row .col-xs-11 {
    grid-column-end: span 11;
  }
  .responsive .row .col-xs-12 {
    grid-column-end: span 12;
  }
}
@media only screen and (min-width: 768px) {
  .responsive .row .col-sm-0 {
    grid-column-end: span 0;
  }
  .responsive .row .col-sm-1 {
    grid-column-end: span 1;
  }
  .responsive .row .col-sm-2 {
    grid-column-end: span 2;
  }
  .responsive .row .col-sm-3 {
    grid-column-end: span 3;
  }
  .responsive .row .col-sm-4 {
    grid-column-end: span 4;
  }
  .responsive .row .col-sm-5 {
    grid-column-end: span 5;
  }
  .responsive .row .col-sm-6 {
    grid-column-end: span 6;
  }
  .responsive .row .col-sm-7 {
    grid-column-end: span 7;
  }
  .responsive .row .col-sm-8 {
    grid-column-end: span 8;
  }
  .responsive .row .col-sm-9 {
    grid-column-end: span 9;
  }
  .responsive .row .col-sm-10 {
    grid-column-end: span 10;
  }
  .responsive .row .col-sm-11 {
    grid-column-end: span 11;
  }
  .responsive .row .col-sm-12 {
    grid-column-end: span 12;
  }
}
@media only screen and (min-width: 992px) {
  .responsive .row .col-md-0 {
    grid-column-end: span 0;
  }
  .responsive .row .col-md-1 {
    grid-column-end: span 1;
  }
  .responsive .row .col-md-2 {
    grid-column-end: span 2;
  }
  .responsive .row .col-md-3 {
    grid-column-end: span 3;
  }
  .responsive .row .col-md-4 {
    grid-column-end: span 4;
  }
  .responsive .row .col-md-5 {
    grid-column-end: span 5;
  }
  .responsive .row .col-md-6 {
    grid-column-end: span 6;
  }
  .responsive .row .col-md-7 {
    grid-column-end: span 7;
  }
  .responsive .row .col-md-8 {
    grid-column-end: span 8;
  }
  .responsive .row .col-md-9 {
    grid-column-end: span 9;
  }
  .responsive .row .col-md-10 {
    grid-column-end: span 10;
  }
  .responsive .row .col-md-11 {
    grid-column-end: span 11;
  }
  .responsive .row .col-md-12 {
    grid-column-end: span 12;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive .row .col-lg-0 {
    grid-column-end: span 0;
  }
  .responsive .row .col-lg-1 {
    grid-column-end: span 1;
  }
  .responsive .row .col-lg-2 {
    grid-column-end: span 2;
  }
  .responsive .row .col-lg-3 {
    grid-column-end: span 3;
  }
  .responsive .row .col-lg-4 {
    grid-column-end: span 4;
  }
  .responsive .row .col-lg-5 {
    grid-column-end: span 5;
  }
  .responsive .row .col-lg-6 {
    grid-column-end: span 6;
  }
  .responsive .row .col-lg-7 {
    grid-column-end: span 7;
  }
  .responsive .row .col-lg-8 {
    grid-column-end: span 8;
  }
  .responsive .row .col-lg-9 {
    grid-column-end: span 9;
  }
  .responsive .row .col-lg-10 {
    grid-column-end: span 10;
  }
  .responsive .row .col-lg-11 {
    grid-column-end: span 11;
  }
  .responsive .row .col-lg-12 {
    grid-column-end: span 12;
  }
}

.web-container {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #41b883;
  font-size: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header a {
  color: white;
}

.header-container {
  max-width: 1170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header-container .mobile-menu {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.header-container .header-left {
  display: none;
  align-items: center;
}
.header-container .header-left__lang {
  color: white;
  padding: 0 10px;
}
.header-container .header-left__lang:first-child {
  border-right: 1px solid yellow;
}
.header-container .header-left__home-link {
  position: relative;
  color: white;
  padding: 0 20px;
  background-color: #3e86c2;
  height: 100%;
  line-height: 50px;
}
.header-container .header-left__home-link * {
  display: inline;
}
.header-container .header-left__home-link a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-container .header-left__date-time {
  padding: 10px;
  color: white;
}
.header-container .header-right {
  display: flex;
  align-items: center;
  color: white;
}
.header-container .header-right__user-info {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}
.header-container .header-right__user-info img {
  height: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.header-container .header-right__user-info i {
  padding-left: 5px;
}
.header-container .header-right a {
  color: white;
}
.header-container .header-right button {
  background-color: white;
  border-radius: 7px;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
}
.header-container .header-right button:hover {
  background-color: green;
  color: white;
  background-color: #34286e;
  transition: 0.3s;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .header-container .mobile-menu {
    display: none;
  }
  .header-container .header-left {
    display: flex;
  }
}
.main-nav {
  margin-top: 50px;
  width: 100%;
  background-color: white;
  display: none;
}
.main-nav .nav-container {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}
.main-nav .nav-container .logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.main-nav .nav-container a {
  display: block;
  padding: 35px 20px;
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s;
}
.main-nav .nav-container a:hover {
  color: #41b883;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    display: block;
  }
}

.web-body {
  max-width: 1170px;
  padding-top: 30px;
  margin: 0 auto;
  min-height: calc(100vh - 140px - 38px);
}
.web-body .row {
  grid-gap: 30px;
}

@media only screen and (max-width: 768px) {
  .web-body {
    margin-top: 50px;
    padding: 20px;
  }
}
.menu {
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  height: max-content;
  position: sticky;
  top: 50px;
}
.menu .menu-item {
  padding: 10px 15px;
  transition: 0.3s;
  position: relative;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: black;
}
.menu .menu-item:hover, .menu .menu-item.active {
  background-color: #41b883;
  color: white;
}
.menu .menu-item i {
  padding-right: 10px;
}
.menu .menu-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    left: -100%;
    transition: 0.3s;
  }
  .menu.active {
    left: 0;
  }
}

footer {
  background-color: #41b883;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer--left {
  color: white;
}
footer .footer--center {
  text-align: center;
}
footer .footer--center a {
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  padding: 0 10px;
  border-right: 1px solid yellow;
}
footer .footer--center a:last-child {
  border-right: none;
}
footer .footer--right {
  text-align: right;
}
footer .footer--right a {
  padding: 0 5px;
  color: white;
}
@media only screen and (max-width: 768px) {
  footer .footer--left {
    text-align: center;
    padding-bottom: 10px;
  }
  footer .footer--right {
    text-align: center;
    padding-top: 10px;
  }
}

.content__home .user__info {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  background-color: white;
  margin-bottom: 30px;
}
.content__home .user__info .row .user__info--login-time {
  display: flex;
  padding: 15px;
  align-items: center;
}
.content__home .user__info .row .user__info--login-time img {
  height: 60px;
  width: 60px;
  display: block;
  object-fit: cover;
  background-color: #41b883;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.content__home .user__info .row .user__info--login-time .login-time__text h5 {
  font-size: 0.8rem;
}
.content__home .user__info .row .user__info--login-time .login-time__text span {
  font-size: 0.8rem;
  color: #f96332;
}
.content__home .user__info--rank {
  max-width: 500px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  background-color: white;
}
.content__home .user__info--rank .user-rank span {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.content__home .user__info--rank .user-rank span p:first-child {
  padding-right: 30px;
  width: 250px;
}
.content__home .user__info--rank .user-rank span:first-child p:last-child {
  color: gold;
}

.content--earned {
  border: 1px solid #c9c9c9;
  background-color: white;
  margin-bottom: 80px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--earned__head {
  height: 50px;
  line-height: 50px;
  background-color: #41b883;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}
.content--earned form {
  display: block;
  padding: 30px 30px;
  grid-row-gap: 15px !important;
}
.content--earned form p {
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
.content--earned form select {
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
}
.content--earned form select option {
  height: 40px;
}
.content--earned form select:focus {
  outline: none;
  border: 1px solid #f96332;
}
.content--earned form .earned-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.content--earned form .earned-input label {
  display: block;
  padding-bottom: 5px;
  font-size: 0.9rem;
  min-width: 100px;
}
.content--earned form .earned-input i {
  display: block;
  font-size: 50px;
  color: #41b883;
}
.content--earned form .earned-input input {
  width: 100%;
  height: 40px !important;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  transition: 0.2s;
  border-radius: 5px;
}
.content--earned form .earned-input input:focus {
  border: 1px solid #f96332;
  outline: none;
}
.content--earned form .earned-input input[type=date] {
  -webkit-appearance: none;
}
.content--earned form .earned-input input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
}
.content--earned form .earned-input input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.content--earned form .earned-input input[type=file] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.content--earned form button {
  margin-top: 30px;
  letter-spacing: 1px;
  border: none;
  background-color: #3e86c2;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.content--earned form button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  transform: translate(-1px, -1px);
}
.content--earned .list-earned {
  width: 100%;
  text-align: left;
  padding: 20px;
}
.content--earned .list-earned .row {
  grid-gap: 0;
}
.content--earned .list-earned .row:first-child {
  position: sticky;
  top: 50px;
  background-color: white;
}
.content--earned .list-earned .row th,
.content--earned .list-earned .row td {
  padding: 10px 0px;
  border-bottom: 1px solid #dadada;
  font-size: 0.9rem;
  color: #575757;
}
.content--earned .table-pagination {
  padding: 20px 30px;
}
.content--earned .table-pagination a {
  color: gray;
  font-size: 0.7rem;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid #c5c5c5;
}
.content--earned .table-pagination a i {
  padding: 0 4px;
}
.content--earned .table-pagination a:hover {
  background-color: #3e86c2;
  transform: scale(1.5);
  color: white;
  box-shadow: 0 0 5px #dfdfdf;
}

.content--history {
  border: 1px solid #c9c9c9;
  background-color: white;
  margin-bottom: 80px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--history__head {
  height: 50px;
  line-height: 50px;
  background-color: #41b883;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}
.content--history form {
  display: block;
  padding: 30px 30px;
  grid-row-gap: 15px !important;
}
.content--history form p {
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
.content--history form select {
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
}
.content--history form select option {
  height: 40px;
}
.content--history form select:focus {
  outline: none;
  border: 1px solid #f96332;
}
.content--history form .history-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.content--history form .history-input label {
  display: block;
  padding-bottom: 5px;
  font-size: 0.9rem;
  min-width: 100px;
}
.content--history form .history-input i {
  display: block;
  font-size: 50px;
  color: #41b883;
}
.content--history form .history-input input {
  width: 100%;
  height: 40px !important;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  transition: 0.2s;
  border-radius: 5px;
}
.content--history form .history-input input:focus {
  border: 1px solid #f96332;
  outline: none;
}
.content--history form .history-input input[type=date] {
  -webkit-appearance: none;
}
.content--history form .history-input input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
}
.content--history form .history-input input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.content--history form .history-input input[type=file] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.content--history form button {
  margin-top: 30px;
  letter-spacing: 1px;
  border: none;
  background-color: #3e86c2;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.content--history form button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  transform: translate(-1px, -1px);
}
.content--history .list-history {
  width: 100%;
  text-align: left;
  padding: 20px;
}
.content--history .list-history .row {
  grid-gap: 0;
}
.content--history .list-history .row:first-child {
  position: sticky;
  top: 50px;
  background-color: white;
}
.content--history .list-history .row th,
.content--history .list-history .row td {
  padding: 10px 0px;
  border-bottom: 1px solid #dadada;
  font-size: 0.9rem;
  color: #575757;
}
.content--history .list-history .row th.state[value=choduyet],
.content--history .list-history .row td.state[value=choduyet] {
  color: #ffc107;
}
.content--history .list-history .row th.state[value=thanhcong],
.content--history .list-history .row td.state[value=thanhcong] {
  color: #28a745;
}
.content--history .table-pagination {
  padding: 20px 30px;
}
.content--history .table-pagination a {
  color: gray;
  font-size: 0.7rem;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid #c5c5c5;
}
.content--history .table-pagination a i {
  padding: 0 4px;
}
.content--history .table-pagination a:hover {
  background-color: #4557bb;
  transform: scale(1.5);
  color: white;
  box-shadow: 0 0 5px #dfdfdf;
}

.content__mail {
  overflow: hidden;
}
.content__mail .mail-nav {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(180, 180, 180, 0.712);
  height: max-content;
  border-radius: 5px;
  background-color: white;
}
.content__mail .mail-nav a {
  display: block;
  width: 100%;
  line-height: 1.5rem;
  color: black;
  padding: 10px 20px;
  border: 1px solid gray;
  font-size: 0.8rem;
}
.content__mail .mail-nav a i {
  padding: 0 20px;
}
.content__mail .mail-writing {
  box-shadow: 0 0 10px #d6d6d6;
  background-color: white;
}
.content__mail .mail-writing .mail-writing__title {
  display: block;
  background-color: #41b883;
  padding: 10px;
  margin-bottom: 30px;
}
.content__mail .mail-writing .mail-input {
  display: flex;
  padding: 7px;
}
.content__mail .mail-writing .mail-input label {
  display: inline-block;
  min-width: 60px;
}
.content__mail .mail-writing .mail-input input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #41b883;
  width: 100%;
}
.content__mail .mail-writing .mail-input input:focus {
  outline: none;
}
.content__mail .mail-writing textarea {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 20px;
}
.content__mail .mail-writing textarea:focus {
  outline: none;
}
.content__mail .mail-writing button {
  background-color: #41b883;
  border: none;
  padding: 10px 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.content__mail .mail-writing button:hover {
  box-shadow: 0 0 10px #d8d8d8;
}
.content__mail .mail-writing button:focus {
  outline: none;
}

.content--products {
  border: 1px solid #c9c9c9;
  background-color: white;
  margin-bottom: 80px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--products__head {
  height: 50px;
  line-height: 50px;
  background-color: #41b883;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}
.content--products .product-container {
  padding: 20px;
}
.content--products .product-container .product-card {
  border: 1px solid #e2f2ff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--products .product-container .product-card .product-img {
  width: 100%;
  margin-bottom: 30px;
}
.content--products .product-container .product-card .product-img .aspect-ratio-container {
  width: 100%;
  padding-top: 70%;
  position: relative;
}
.content--products .product-container .product-card .product-img .aspect-ratio-container img,
.content--products .product-container .product-card .product-img .aspect-ratio-container iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.content--products .product-container .product-card .product-content {
  padding: 0 20px 20px;
}
.content--products .product-container .product-card .product-content .product-name {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: black;
}
.content--products .product-container .product-card .product-content .product-price {
  text-align: center;
  color: #41b883;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px 0;
}
.content--products .product-container .product-card .product-content .add-to-cart {
  width: 100%;
  height: 40px;
  text-align: center;
}
.content--products .product-container .product-card .product-content .add-to-cart a {
  letter-spacing: 1px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #41b883;
  padding: 0px 10px;
  height: 100%;
  line-height: 40px;
  border: 2px solid #41b883;
  border-radius: 0px 3px 3px 0px;
  margin: 0px;
  text-align: center;
  transition: 0.3s;
  text-align: center;
}
.content--products .product-container .product-card .product-content .add-to-cart a i {
  margin-right: 10px;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  width: 20%;
}
.content--products .product-container .product-card .product-content .add-to-cart a:first-child {
  width: 50%;
  border-radius: 3px 0 0 3px;
  padding: 0 10px;
}
.content--products .product-container .product-card .product-content .add-to-cart a:hover {
  background-color: #41b883;
  color: white;
  box-shadow: 2px 2px 6px rgba(92, 88, 88, 0.329);
}

.content--register {
  border: 1px solid #c9c9c9;
  background-color: white;
  margin-bottom: 80px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--register__head {
  height: 50px;
  line-height: 50px;
  background-color: #41b883;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}
.content--register form {
  display: block;
  padding: 30px 30px;
  grid-row-gap: 15px !important;
}
.content--register form p {
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
.content--register form select {
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
}
.content--register form select option {
  height: 40px;
}
.content--register form select:focus {
  outline: none;
  border: 1px solid #f96332;
}
.content--register form .register-input {
  position: relative;
}
.content--register form .register-input label {
  display: block;
  padding-bottom: 5px;
  font-size: 0.9rem;
}
.content--register form .register-input i {
  display: block;
  font-size: 50px;
  color: #41b883;
}
.content--register form .register-input input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  transition: 0.2s;
  border-radius: 5px;
}
.content--register form .register-input input:focus {
  border: 1px solid #f96332;
  outline: none;
}
.content--register form .register-input input[type=date] {
  -webkit-appearance: none;
}
.content--register form .register-input input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
}
.content--register form .register-input input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.content--register form .register-input input[type=file] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.content--register form button {
  margin-top: 30px;
  letter-spacing: 1px;
  border: none;
  background-color: #3e86c2;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.content--register form button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  transform: translate(-1px, -1px);
}

.content__tree {
  color: #41b883;
}
.content__tree input[type=checkbox] {
  background-color: #41b883;
  font-size: 1rem;
  padding: 5px;
  width: 13px;
  height: 13px;
  -webkit-appearance: none;
  position: relative;
}
.content__tree input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.content__tree input[type=checkbox]::after {
  content: "";
  display: block;
  position: absolute;
  height: 80%;
  width: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
}
.content__tree input[type=checkbox]:checked:after {
  display: block;
}
.content__tree input[type=checkbox]:checked ~ ul {
  display: block;
}
.content__tree ul {
  padding-left: 2rem;
  position: relative;
  overflow-y: hidden;
  list-style-type: none;
  line-height: 1.2rem;
  display: none;
}
.content__tree li {
  position: relative;
  padding-left: 0rem;
}
.content__tree li:before {
  content: "";
  display: block;
  width: 1rem;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #41b883;
  height: 9999px;
  bottom: calc(100% - 0.6rem);
  left: -1.6rem;
  position: absolute;
}

.info-popover {
  border: 1px solid gray;
  z-index: 100;
  background-color: white;
  position: fixed;
  opacity: 0;
}
.info-popover * {
  padding-left: 10px;
}
.info-popover h2 {
  font-size: 1.5rem;
  background-color: black;
  line-height: 1.9rem;
  padding-left: 10px;
}

.content--update {
  border: 1px solid #c9c9c9;
  background-color: white;
  margin-bottom: 80px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
}
.content--update__head {
  height: 50px;
  line-height: 50px;
  background-color: #41b883;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}
.content--update form {
  display: block;
  padding: 30px 30px;
  grid-row-gap: 15px !important;
}
.content--update form p {
  font-weight: 500;
  color: black;
  margin-bottom: 5px;
}
.content--update form select {
  height: 40px;
  border-radius: 5px;
  transition: 0.2s;
}
.content--update form select option {
  height: 40px;
}
.content--update form select:focus {
  outline: none;
  border: 1px solid #f96332;
}
.content--update form .update-input {
  position: relative;
}
.content--update form .update-input.ava-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content--update form .update-input.ava-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.content--update form .update-input.ava-container .change-img {
  height: max-content;
  margin-left: 10px;
}
.content--update form .update-input label {
  display: block;
  padding-bottom: 5px;
  font-size: 0.9rem;
}
.content--update form .update-input img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.content--update form .update-input .change-img {
  position: relative;
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
}
.content--update form .update-input input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  transition: 0.2s;
  border-radius: 5px;
}
.content--update form .update-input input:focus {
  border: 1px solid #f96332;
  outline: none;
}
.content--update form .update-input input[type=date] {
  -webkit-appearance: none;
}
.content--update form .update-input input[type=date]::-webkit-calendar-picker-indicator {
  display: block;
}
.content--update form .update-input input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.content--update form .update-input input[type=file] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.content--update form button {
  margin-top: 30px;
  letter-spacing: 1px;
  border: none;
  background-color: #3e86c2;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.content--update form button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px white;
  transform: translate(-1px, -1px);
}

/*# sourceMappingURL=style.css.map */
