.content__mail {
  overflow: hidden;

  .mail-nav {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(180, 180, 180, 0.712);
    height: max-content;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    a {
      display: block;
      text-align: left !important;
      width: 100%;
      line-height: 1.2rem;
      color: $main-text-color;
      padding: 10px 20px;
      border-bottom: 1px solid gray;
      font-size: 0.8rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .mail-writing {
    box-shadow: 0 0 10px #d6d6d6;
    background-color: white;
    .mail-writing__title {
      display: block;
      background-color: $light-green;
      padding: 10px;
      margin-bottom: 30px;
    }

    .mail-input {
      display: flex;
      padding: 7px;
      label {
        display: inline-block;
        min-width: 60px;
      }
      input {
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid $light-green;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    textarea {
      padding: 10px;
      width: 100%;
      height: 100%;
      border: none;
      margin-bottom: 20px;
      &:focus {
        outline: none;
      }
    }
    button,
    .reject {
      float: right;
      font-size: 0.9rem;
      margin-top: 20px;
      background-color: $light-green;
      border: none;
      padding: 5px 10px;
      margin-left: 5px;
      margin-bottom: 30px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 10px #d8d8d8;
      }
      &:focus {
        outline: none;
      }
    }

    .reject {
      background-color: orange;
    }
    button {
      margin-right: 10px;
    }
  }
}
