.content--products {
  border: 1px solid rgb(201, 201, 201);
  background-color: white;
  margin-bottom: 80px;
  box-shadow: $beauty-shadow;

  &__head {
    height: 50px;
    line-height: 50px;
    background-color: $light-green;
    color: white;
    padding: 0 30px;
    font-size: 1rem;
  }

  .product-img {
    @include aspect-ratio(70%);
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .product-container {
    .row {
      grid-gap: 10px;
    }
    padding: 20px;
    .product-card {
      padding: 10px;
      border: 1px solid #e2f2ff;
      box-shadow: $beauty-shadow;
      font-size: 0.85rem;
      h3 {
        color: orange;
        margin-bottom: 10px;
      }
    }

    .buy-product {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .product-price {
        font-size: 1rem;
        margin-bottom: 20px;
        color: orange;
      }
      .add-to-cart {
        a {
          padding: 5px 10px;
          background-color: $dark-green;
          color: white;
          border-radius: 3px;
          &:focus {
            background-color: $light-green;
          }
        }
      }
    }
  }
}

///popup style

.swal2-popup {
  width: 400px;
  background-color: rgb(250, 104, 0) !important;
  .swal2-header {
    #swal2-title {
      font-size: 1rem;
      padding: 0;
      color: white !important;
    }
  }
}

/// cart sytle

.header-right__cart {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  .cart {
    top: calc(100% + 10px);
    position: absolute;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    display: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -7px;
      left: 30px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border-color: gray transparent transparent gray;
      background-color: white;
      border-style: solid;
      border-width: 1px;
    }

    &.active {
      display: block;
    }
    .cart-header {
      padding: 10px;
      color: black;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(197, 197, 197);
    }
    .cart-item {
      padding: 15px;
      display: flex;
      border-bottom: 1px solid rgb(196, 196, 196);
      align-items: center;

      img {
        display: inline-block;
        height: 60px;
        object-fit: contain;
      }
      .item-detail {
        display: inline-block;
        color: black;
        margin-left: 15px;
        button {
          border: none;
          color: red;
          font-size: 0.8rem;
          padding: 0;
          margin-top: 6px;
          &:hover {
            background-color: white;
          }
        }
      }
    }
    .show-cart {
      background-color: $dark-green;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
  }
}
