.content-tree__header {
  height: 50px;
  line-height: 50px;
  background-color: $light-green;
  color: white;
  padding: 0 30px;
  font-size: 1rem;
}

.content__tree {
  background-color: white;
  color: $light-green;
  padding: 20px;
  input[type="checkbox"] {
    background-color: $light-green;
    font-size: 1rem;
    padding: 5px;
    width: 13px;
    height: 13px;
    -webkit-appearance: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 80%;
      height: 1px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 80%;
      width: 1px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      display: none;
    }
    &:checked {
      &:after {
        display: block;
      }
      ~ ul {
        display: block;
      }
    }
  }
  ul {
    padding-left: 2rem;
    position: relative;
    overflow-y: hidden;
    list-style-type: none;
    line-height: 1.2rem;
    display: none;
  }
  li {
    position: relative;
    padding-left: 0rem;
    &:before {
      content: "";
      display: block;
      width: 1rem;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: $light-green;
      height: 9999px;
      bottom: calc(100% - 17px);
      left: -1.6rem;
      position: absolute;
    }
  }
  .user-info {
    display: inline-block;
    color: rgb(63, 63, 63);
    padding: 8px 0;
    cursor: pointer;
  }
}

.info-popover {
  border: 1px solid gray;
  z-index: 100;
  background-color: white;
  position: fixed;
  opacity: 0;
  width: 300px;
  transform: translate(10px, -50%);
  transition: 0.2s;
  &:before {
    content: "";
    display: block;
    transform: translateY(50%) rotate(45deg);
    position: absolute;
    left: -9px;
    top: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid red;
    background-color: white;
    border-color: transparent transparent gray gray;
  }
  * {
    padding: 5px 10px;
  }
  h3 {
    background-color: #f6f6f6;
  }
  h2 {
    font-size: 1.5rem;
    background-color: $main-text-color;
    line-height: 1.9rem;
    padding-left: 10px;
  }
}
